@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.introduction-page .centered-content {
    padding: 0 !important;
    /* display: block; */ /* Removed to allow flex properties */
}

.hero-section {
    background-image: url('../images/intro_img.jpg');
    background-size: cover;
    background-position: center;
    height: 88vh; /* Adjust height */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 100px;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.hero-text-container {
    text-align: left;
    padding-right: 10%;
}

body.introduction-page h1 {
    color: #ffffff;
    font-size: 3.4rem; /* Adjusted size */
    font-weight: 700; /* Bold */
    margin: 0;
    /* font-family: 'Playfair Display', serif; */
    letter-spacing: 3px; /* Added letter-spacing */
    padding-right: 250px;
}

body.introduction-page p {
    color: #f5f5f5; /* Reverted to original color */
    font-size: 1.2rem; /* Adjusted size */
    font-weight: 400; /* Regular */
    margin: 20px 0px 0px 6px;
    /* font-family: 'Island Moments', cursive; */
    letter-spacing: 1px; /* Added letter-spacing */
}


.brand-name {
    font-weight: 800;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}

.content-section {
    flex-grow: 1;
    margin-bottom: 100px;
    /* Removed opacity, transform, transition from here */
}

.content-section p {
    opacity: 0;
    transform: translateY(50px); /* Increased slide distance */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.content-section p.animate {
    opacity: 1;
    transform: translateY(0);
}

.content-image-single {
    width: 100%;
    max-width: 300px; /* Adjusted to be smaller */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 40px auto 60px auto; /* Center the image */
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.content-image-single.animate {
    opacity: 1;
    transform: translateY(0);
}

body.introduction-page .content-section p {
    color: black;
    font-size: 16px;
    margin: 40px 0 40px 0; /* Increased spacing */
}

@keyframes contentFadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}